@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.headerBox{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 3%;
    background-color: #071127;
    color: white;
}

.contentsBox{
    margin: 50px;

    padding: 0px;
    border-radius: 15px;
    border-color: #05052b;
}

.searchBox{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.search1{
    flex: 3;

    padding: 5px 20px;

    border-radius: 10px;
    border-width: 0.1px;
    border-color: #05052b;
    border: none;

    background-color: #f9f9f9;


    color: #071127;
    font-size: 100%;
    font-size: 20px;
    font-weight: 400;
}

.search2{
    flex: 3;

    padding: 10px 20px;

    border-radius: 10px;
    border-width: 0.1px;
    border-color: #05052b;
    border: none;

    background-color: #f9f9f9;
    

    color: #071127;
    font-size: 100%;
    font-size: 20px;
    font-weight: 400;
}

.calculate{
    flex: 1;
    margin: 0px 15px;

    color: #05052b;
    border-color: #05052b;
    border: 1px;
    border-radius: 10px;

    font-size: 20px;

    font-size: 10px;
    padding: 5px 10px;
}

.calcText{
    font-size: 15px;
    font-weight: 900;
}

.calculate:hover{
    background-color: #05052b;
    color: white;
    cursor: pointer;
}

.resultsBox{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    align-items: center;

    margin: 50px 0px;
}

.resultElement{
    flex: 2 0 42%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 50px 50px;

    height: 300px;

    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    border-color: #05052b;

    padding: 10px;
}

.resultsPrice{
    color:black;
    font-weight: 300;
    font-size: 40px;
}

.boldText{
    font-weight: 900;
}